In [1]:
suppressWarnings(suppressPackageStartupMessages({
    library(tidyverse)
    library(data.table)
}))

In [14]:
df <- fread('gwas-current-gz-wc.20200629-131527.tsv') %>% 
rename('symlink'='#symlink') %>%
mutate(tmp = symlink, pop = basename(dirname(tmp))) %>%
mutate(tmp = str_replace(basename(tmp), 'logistic.hybrid', 'logistic_hybrid')) %>%
separate(tmp, c(NA, 'GBE_ID', NA, NA,NA,NA), sep='\\.')

In [21]:
df %>% 
count(wc_l, pop) %>%
arrange(-wc_l)

   wc_l    pop               n
1  1080969 others            3194
2  1080969 related           3258
3  1080600 others               1
4  1080567 african           2685
5  1080567 e_asian           1906
6  1080567 non_british_white 3215
7  1080567 s_asian           2852
8  1080567 white_british     3588
9  1080278 others             233
10 1080278 related            174
11 1059397 african            216
12 1059397 e_asian            252
13 1059397 non_british_white  148
14 1059397 s_asian            132
15 1059397 white_british      132
16 1024521 related              1
17 1001756 white_british        1
18  891019 white_british        1
19  890538 white_british        1
20  837659 white_british        1
21  836299 white_british        1
22  779198 white_british        1
23  727614 white_british        1
24  726430 white_british        1
25  725231 white_british        1
26  672894 white_british        1
27  671362 white_british        1
28  454904 white_british        1
29  412155 white_british        1
30  402771 white_british        1
31  400782 white_british        1
32  399908 white_british        1
33  347741 white_british        1
34  345881 white_british        1
35  314970 non_british_white    1
36  238354 white_british        1
37  238278 white_british        1
38  184890 white_british        1
39  183541 white_british        1
40  163630 others               1
41  163593 others               1
42  130073 white_british        1
43  129516 white_british        1
44  106772 white_british        1
45   75190 white_british        1
46   75167 white_british        1
47   21171 african             11
48   21171 e_asian             11
49   21171 non_british_white   11
50   21171 s_asian             11
51   21171 white_british       12

In [30]:
df %>% 
count(wc_l, pop) %>%
arrange(-wc_l) %>%
filter(wc_l < 1e+6 & 3e+5 < wc_l)

   wc_l   pop               n
1  891019 white_british     1
2  890538 white_british     1
3  837659 white_british     1
4  836299 white_british     1
5  779198 white_british     1
6  727614 white_british     1
7  726430 white_british     1
8  725231 white_british     1
9  672894 white_british     1
10 671362 white_british     1
11 454904 white_british     1
12 412155 white_british     1
13 402771 white_british     1
14 400782 white_british     1
15 399908 white_british     1
16 347741 white_british     1
17 345881 white_british     1
18 314970 non_british_white 1

In [31]:
df %>% 
count(wc_l, pop) %>%
arrange(-wc_l) %>%
filter(wc_l < 3e+5)

   wc_l   pop               n
1  238354 white_british      1
2  238278 white_british      1
3  184890 white_british      1
4  183541 white_british      1
5  163630 others             1
6  163593 others             1
7  130073 white_british      1
8  129516 white_british      1
9  106772 white_british      1
10  75190 white_british      1
11  75167 white_british      1
12  21171 african           11
13  21171 e_asian           11
14  21171 non_british_white 11
15  21171 s_asian           11
16  21171 white_british     12